.languages {
  display: flex;
  font-size: 1.75rem;
  justify-content: space-between;
}
.hamburger {
  display: none;
}
.popular {
  max-width: 1300px;
}
.popularData {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}
/* .data { */
/* } */
ul {
  list-style-type: none;
}
.container {
  width: 850px;
  margin: 0 auto;
}
.wrapper {
  max-width: 1300px;
  padding: 20px 5px;
}
.nav {
  display: flex;
  /* text-align: start; */
  /* position: relative; */
  /* left: -240px; */
}
.active {
  font-weight: bold;
  color: #dd091b;
  line-height: 3px;
}
.nav li {
  font-size: 1.5rem;
  /* letter-spacing:2px; */
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.home-header {
  text-align: center;
  font-size: 1.9rem;
  letter-spacing: 1px;
}
.section {
  align-items: center;
}
.home-btn {
  color: #ffffff;
  background: #0a0a0a;
  font-size: 1.25rem;
  padding: 8.5px 90px;
  border-radius: 5px;
}
.user-prompt {
  display: grid;
  margin: 0 auto;
  /* justify-content: space-around; */
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  justify-content: center;
  /* padding: 10px; */
}
.user-prompt-01,
.user-prompt-02 {
  width: 20rem;
}
.form-control {
  max-width: 600px;
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}
::placeholder {
  color: #3d3333b0;
  font-size: 16px;
}
.btn {
  margin: 1rem auto;
  color: #cecccc;
  background: #424242;
  font-size: 1.25rem;
  padding: 4px 45px;
  border: none;
  border-radius: 3px;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.center {
  text-align: center;
}
.start-battle {
  color: #cecccc;
  background: #424242;
  font-size: 1.25rem;
  padding: 4px 45px;
  border: none;
  border-radius: 3px;
  margin: 1rem auto;
}
.red {
  color: red;
}
.text-center {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.rank {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
@media all and (max-width: 768px) {
  body {
    text-align: center;
    width: 100%;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .grid-col-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .user-prompt-01,
  .user-prompt-02 {
    width: 100%;
  }
  .form-control {
    width: 50%;
  }
  .popularData {
    grid-template-columns: repeat(1, 1fr);
  }
  .languages {
    display: none;
  }
  .hamburger {
    display: inline;
    padding: 20px;
    border: 1px solid rgb(45, 45, 51);
    color: #cfccdd;
    border-radius: 4px;
    background-color: rgb(45, 45, 51);
    font-size: 16px;
  }
  .popular:hover .languages {
    display: block;
    padding: 0 1rem;
    margin: 0 0.4rem 0 0;
    border-radius: 1rem;
    text-align: center;
    background-color: rgba(0, 75, 88, 0.432);
  }

  .languages li {
    border: 1px solid #360000;
    background-color: rgba(0, 75, 88, 0.432);
    border-radius: 0px;
    border-left: none;
    border-right: none;
    padding: 0.5rem 0;
    color: rgb(75, 57, 70);
    margin: 0 3rem;
  }
}
